<!DOCTYPE html>
<html lang="en">

<head>
    {{>headlinks}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to about page</p>
                        <h1>Hello , I am <span class="text-color">Kushank Patel</span> Welcome</h1>
                        <a href="#"><button class="btn">About me</button></a>
                    </div>
                    <div class="col-md-6 col-12 main_header_right" align-items="center">
                        <figure>
                            <img src="images/WhatsApp Image 2023-03-24 at 12.44.59.jpg" alt="KP" class="img-fluid" title=""KP>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>Created</p>
    </footer>


</body>

</html>